<footer class="page-footer">
    <nav id="bottom-nav" class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <button type="button" data-toggle="collapse" data-target="#nav_collapse" aria-label="Toggle navigation" aria-controls="nav_collapse" aria-expanded="false" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="nav_collapse" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link active">
                            <img src="../../assets/logo-jqwidgets.png" class="bottom-logo">
                            <div class="rights">jQWidgets © 2011-2018. All Rights Reserved.</div>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/demos" routerLinkActive="active" class="nav-link">Demos</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/docs" routerLinkActive="active" class="nav-link">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.jqwidgets.com/blog/" class="nav-link">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/jqwidgets/vue-grid-source" class="nav-link">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>
