/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: calc(100% - 114px);
}

#main {
    overflow: auto;
    padding-bottom: 80px;
    margin-bottom: 20px;
    min-height: 100%;
}

.menu {
    float: left
}

    .menu ul {
        padding-left: 0;
        text-align: left;
    }

    .menu li {
        display: block
    }

.title {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.content {
    text-align: left;
    font-size: 15px;
}

h3 {
    margin-top: 25px !important;
}

li a {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    li a:hover {
        color: black;
        text-decoration: none;
    }

a.active {
    color: #53B9E6 !important;
}

    a.active:hover {
        color: #53B9E6 !important;
    }

.keyword {
    color: #53B9E6;
    font-weight: 700;
}
